@media (max-width: 320px) {
    .popup{
        width: 200px;
    }

    .header-content{
        height: 20rem;
    }
}

@media (max-width: 375px) {


    .header-title h2{
        font-size: 16px;
    }

    .header-content p{
        font-size: 13px;
    }

    .content p{
        width: 90%;
    }

    ul{
        padding-left: 1rem;
        padding-right: 1rem;
    }

    .infos h2{
        width: 90%;
        padding: 1rem;
        font-size: 21px;
        text-align: center;
    }

    .infos{
        display: none;
    }

    .hr-2{
        display: none;
    }

    .modal-open{
        padding: 2px;
        font-size: 12px;
    }

}

@media (max-width: 500px) {
    
    .header-content{
        height: 20rem;
    }
    
    header .main-title{
        font-size: 18px;
    }

    .card-1 h3,
    .card-2 h3{
        margin-bottom: 20px;
    }


    .popup{
        width: 390px;
    }
    
    .side-2{
        display: none;
    }

    #contact{
        display: none;
    }

    .infos h2{
        padding: 1rem;
    }

    .card-1,
    .card-2{
        width: 90%;
        padding: 20px;
    }

    .card-1 svg,
    .card-2 svg{
        display: none;
    }
}


@media (max-width: 1024px) {
    .side-2{
        display: none;
    }

    .infos h2{
        text-align: center;
    }

    #contact{
        display: none;
    }
}

@media (max-width: 1024px) {
    .side-2{
        display: none;
    }

    .hr-2{
        display: none;
    }

    .modal .btn-submit{
        width: 90%;
    }

    .links a{
        display: none;
    }
}